% Erlang compiler options
{erl_opts, [debug_info,
            {parse_transform, lager_transform}
]}.

{deps, [{cowboy, "2.10.0"},
        {jsone,  "1.8.0"},
        {lager,  "3.9.2"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [pace, backlog]}
]}.

{relx, [{release, {pace, "0.1.0"}, [pace]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]}
]}.
